* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../src/Assets/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 80px;
}

p {
  margin-bottom: 0 !important;
}
